---
- name: Disable Proxmox enterprise repository
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list.d/pve-enterprise.sources
    regexp: '^Enabled:\s+true'
    line: 'Enabled: false'
    state: present
  notify: update_apt_cache

- name: Enable Proxmox no-subscription repository
  ansible.builtin.copy:
    content: |
      Types: deb
      URIs: http://download.proxmox.com/debian/pve
      Suites: {{ ansible_facts.distribution_release }}
      Components: pve-no-subscription
      Signed-By: /usr/share/keyrings/proxmox-archive-keyring.gpg
    dest: /etc/apt/sources.list.d/proxmox.sources
  notify: update_apt_cache

- name: Switch ceph to no-subscription repository
  ansible.builtin.copy:
    content: |
      Types: deb
      URIs: https://enterprise.proxmox.com/debian/ceph-squid
      Suites: {{ ansible_facts.distribution_release }}
      Components: enterprise
      Signed-By: /usr/share/keyrings/proxmox-archive-keyring.gpg
      Enabled: false

      Types: deb
      URIs: http://download.proxmox.com/debian/ceph-squid
      Suites: {{ ansible_facts.distribution_release }}
      Components: no-subscription
      Signed-By: /usr/share/keyrings/proxmox-archive-keyring.gpg
    dest: /etc/apt/sources.list.d/ceph.sources
  notify: update_apt_cache

- name: Force update apt cache
  ansible.builtin.meta: flush_handlers